@charset "UTF-8";

body{
	margin:0px;
	padding:0px;
}
.fixed {
     position: fixed;
     top: 0px;
}
.subscribeBody {
	width:1600px; 
	margin:auto;
 } 
 
 .img_admin_career{
 	max-width: 100%;
 	max-height: 100%;
 	height: 700px;
 }
 
 .img_admin_career2{
 	max-width: 100%;
 	height: 600px;
 	margin-top:-190px;
 	
 }

 
 ._2bqGiY6XO2ke3gSGZbbVm3 {
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 300px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.1);
    height: 300px;
}
._2LiFavTzcqjq8ansnAqKSQ {
    background-color: #f1f2f3;
    background-size: cover;
    background-position: center center;
    position: relative;
}