/* top */
body { padding-right: 0 !important }
button{
	background: inherit ; 
	border:none; 
	box-shadow:none; 
	border-radius:0; 
	padding:0; 
	overflow:visible; 
	cursor:pointer
}

.header-div{
	width:100%;
	background-color:#fff;
}

.container-top{
	height:50px;
}

.top-logo{
	width:120px;
}

.navbar-logo{
	magin-top:0;
	padding-top:0;
}

.navbar-nav{
	height:inherit;
}

.navbar-border{
	box-shadow:0 1px 0 0 rgba(0, 0, 0, 0.1);
	padding:0;
}

.nav-link{
	font-size:14px;
	color:#333;
	font-weight:600;
	vertical-align:middle;
	padding: 10px 0;
}

.nav-item{
	height:inherit;
	padding: 7px 6px;
}

.searchBtn{
	padding: 0 6px;
}

.icon-search:before{
	content: "\e923";
	font-size:14px;
	color:#333;
	font-weight:400;
	vertical-align:middle;
}

.icon-bell:before {
	content: "\e925";
}

.signUpButton:before{
	margin-right:15px;
	content:'';
	height:14px;
	border-left: 1px solid #d1d1d1;
}
.signUpButton{
	font-size:14px;
	color:#333;
	font-weight:600;
}
.dashboardButton{
	font-size:13px;
	color:#666;
	border:1px solid #e1e2e3;
	border-radius:15px;
	padding: 7px 10px;
	margin:1px 0 0 12px;
	font-weight:400;
}

.dashboardButton:hover{
	color:#666;
}

.beforeLoginAside >ul >li{
	position:relative;
	display:inline-block;
	height: 100%;
	vertical-align:middle;
}

.navbar-nav >li a:hover{
	color:#333;
}

.navbar-nav >li:after {
   display:block;/*a요소를 블록 요소라고 선언*/
   content: '';
   border-bottom: solid 2px #d1d2d3;
   transform: scaleX(0);/*크기를 0으로 줌으로써 평상시엔 밑줄 없음*/
   transition: transform 250ms ease-in-out; /*변형 방식*/
}
.navbar-nav >li:hover:after {
	transform: scaleX(1);/*a 속성에 hover시 기존 크기로*/
}

.icon-arrow_right:before {
  content: "\e94f";
  font-weight:400;
}

.dropdown .dropdown-item:hover{
	color:#555;
}


/* bottom */
.footer-top-left{
	float:left;
	width:calc(100% - 250px);
}

.footer-top-right{
	float:left;
	position:relative;
	width:250px;
	height:36px;
}

.footer-top{
	margin: 0 auto 25px;
	display:flex;
}

.wantedLogo_white{
	display:flex;
	justify-content:center;
	align-items:center;
	float:left;
	height:36px;
	margin-right:50px;	
}

.footer-top-right img{
	position:absolute;
	left:15px;
	top:50%;
	width:20px;
	height:14px;
	z-index:1;
	transform:translate(0, -50%);
}

.footer-top-right >select{
	width:100%;
	height:36px;
	background:black;
	border-radius:0;
	border:none;
	font-size:14px;
	line-height:36px;
	color:rgba(255, 255, 255, 0.8);
	padding:0 45px;
	appearance:none;
}
.icon-arrow_bottom_fill{
	position:absolute;
	width: 10px;
	height:10px;
	font-size:10px;
	line-height:1;
	right: 15px;
	top:50%;
	transform:translate(0, -50%);
}

.icon-arrow_bottom_fill:before{
	content:"\e97f";
	display:block;
	clear:both;
	color:dimgray;
}

.wantedLogo_white >img{
	width:100px;
}

.wanted-info >span >a{
	flaot:left;
	margin-right:45px;
	font-size:16px;
	line-height:36px;
	font-weight:400;
	color:rgba(255, 255, 255, 0.8);
}

.footer-bottom{
	margin:0 auto 25px;
	display:flex;
}

.footer-bottom >p{
	float:left;
	font-size:12px;
	font-weight:500;
	line-height:1.66667em;
	color:rgba(255, 255, 255, 0.8);
	width:calc(100% - 250px);
}


/* main - 로그인 전 */
.beforeLogin-wrapper{
	width:100%;
	overflow:hidden;
	background:#fff;
	color:#000;
}

.beforeWrap1{
	/* background-image:url("../images/main_kr_pc.jpg") center/cover no-repeat; */
	position:relative;
	display:flex;
	width:100%;
	height:550px;
	align-items:center;
}

.beforeLogin-content{
	float:left;
}

.beforeLogin-content h1{
	font-size:48px;
	line-height:62px;
	margin-bottom:20px;
	font-weight: bold;
}

.beforeLogin-content h3{
	font-size:18px;
	line-height:28px;
	margin-bottom:30px;
	font-weight:500;
}

.startbtn{
	height:64px;
	width:230px;
	border-radius:32px;
	background-color:#3a68f9;
	color:#fff;
	font-size:20px;
	line-height:17px;
	border:none;
	outline:none;
	cursor:pointer;
}

.beforeWrap2{
	position:relative;
	display:flex;
	width:100%;
	height:480px;
	flex-direction:row;
	justify-content:center;
	align-items:center;
}

.beforeLogin-content2{
	width:530px;
	height:380px;
	display:flex;
	flex-direction:column;
	justify-content:center;
}
.beforeLogin-content3{
	text-align:left;
	padding-left:60px;
	width:530px;
	height:380px;
	display:flex;
	flex-direction:column;
	justify-content:center;
}
.beforeLogin-content3 h1{
	font-size:36px;
	line-height:48px;
	margin-bottom:20px;
	font-weight:600;
}

.beforeLogin-content3 h3{
	font-size:16px;
	line-height:28px;
	font-weight:500;
}

.beforeWrap3{
	position:relative;
	display:flex;
	width:100%;
	height:480px;
	flex-direction:row;
	justify-content:center;
	align-items:center;
}

.beforeLogin-content4{
	width:530px;
	height:380px;
	display:flex;
	flex-direction:column;
	justify-content:center;
}

.beforeLogin-content5{
	text-align:left;
	padding-left:60px;
	width:530px;
	height:380px;
	display:flex;
	flex-direction:column;
	justify-content:center;
}

.beforeLogin-content5 h1{
	font-size: 36px;
	line-height:48px;
	margin-bottom:20px;
	font-weight:600;
}

.beforeLogin-content5 h3{
	font-size:16px;
	line-height:28px;
	font-weight:500;
}

.dot{
	position:absolute;
	top:-51.5px;
	left:50%;
	transform:translate(-50%, 0);
}

.beforeWrap4{
	position:relative;
	display:flex;
	width:100%;
	height:480px;
	flex-direction:row;
	justify-content:center;
	align-items:center;
}

.beforeLogin-content6{
	width:530px;
	height:380px;
	display:flex;
	flex-direction:column;
	justify-content:center;
}

.beforeLogin-content7{
	width:530px;
	height:380px;
	display:flex;
	flex-direction:column;
	justify-content:center;
}

.beforeLogin-content7 h1{
	font-size:36px;
	line-height:48px;
	margin-bottom:20px;
	font-weight:600;
}

.beforeLogin-content7 h3{
	font-size:16px;
	line-height:28px;
	font-weight:500;
}

.beforeWrap5{
	position:relative;
	display:flex;
	width:100%;
	height:520px;
	flex-direction:column;
	padding:140px;
	text-align:center;
	color:#fff;
}

.beforeLogin-content8 h1{
	font-size:36px;
	line-height:48px;
	margin-bottom:20px;
	font-weight:600;
	color:#fff;
}

.beforeLogin-content8 h3{
	font-size:18px;
	line-height:28px;
	margin-bottom:30px;
	font-weight:500;
	color:#fff;
}

/*로그인/회원가입modal*/
body.modal-open {
    overflow: auto;
}

body.modal-open[style] {
    padding-right: 0px !important;
}

/* Important part */
.modal-content{
overflow-y: initial !important
}
/* .modal-body{
height: calc(100vh - 130px);
overflow-y: auto;
} */

img.modalLogin-logo{
	width:100px;
	margin:0 auto;
}

h5.modal-wanted-title{
	width:400px;
	text-align:center;	
	padding-left:24px;
}
.gaeun-modal-header{
	border-bottom:none;
}

.gaeun-modal-body{
	background-color:#fff;
	padding:20px;
	border-bottom-left-radius:.3rem;
	border-bottom-right-radius:.3rem;
}

.gaeun-modal-body-con1{
	text-align:center;
	word-break:break-word;
	margin-top:24px;
	margin-bottom:40px;
}

.gaeun-modal-body-con1 h1{
	line-height:40px;
	font-size:26px;
	font-weight:600;
	color:#333;
}

.gaeun-modal-body-con1 h2{
	margin-top:16px;
	line-height:1.5;
	font-size:16px;
	font-weight:400;
	color:#666;
}

.gaeun-modal-body-con2{
	position:relative;
	overflow:hidden;
	z-index:1;
	margin-bottom:20px;
}

.gaeun-login-emailBox{
	position:relative;
	padding-bottom:16px;
	color:#767676;
}

.ge-labelEmail{
	font-size:14px;
	font-weight:400;
	margin-bottom:0;
}

.ge-emailBox{
	margin-top:11px;
}

.ge-inputEmail{
	width:100%;
	height:50px;
	padding-right:15px;
	padding-left:15px;
	border-radius:5px;
	border:1px solid #e1e2e3;
	background-color:#fff;
	font-size:15px;
	color:#333;
	appearance:none;
}

.gaeun-login-pwdBox{
	position:relative;
	padding-bottom:16px;
	color:#767676;
}

.ge-labelPwd{
	font-size:14px;
	font-weight:400;
	margin-bottom:0;
}

.ge-pwdBox{
	margin-top:11px;
}

.ge-inputPwd{
	width:100%;
	height:50px;
	padding-right:15px;
	padding-left:15px;
	border-radius:5px;
	border:1px solid #e1e2e3;
	background-color:#fff;
	font-size:15px;
	color:#333;
	appearance:none;
}

.email-login-btn{
	display:flex;
	justify-content:center;
	align-items:center;
	width:100%;
	height:54px;
	border:0;
	border-radius:27px;
	background-color:#3366ff;
	font-size:16px;
	font-weight:600;
	color:#fff;
	cursor:pointer;
}

.or:before{
	display:block;
	content:'or';
	color:#969696;
	font-size:14px;
	font-weight:500;
	line-height:1;
	text-align:center;
	margin:10px auto;
}

.social-login-btn{
	color:#737373;
	border-radius:27px;
	border:solid 1px #e1e2e3;
	background-color:#fff;
	display:flex;
	justify-content:center;
	align-items:center;
	width:100%;
	height:54px;
	font-size:16px;
	font-weight:600;
	cursor:pointer;
}

.social-login-btn:not(:last-child){
	margin-bottom:10px;
}

.login-modal-desc{
	margin-top:26px;
	text-align:center;
	font-size:12px;
	line-height:18px;
	color:#999;
}

.login-modal-anchor{
	color:#3336ff;
	text-decoration:underline;
}

.fa-facebook:before{
	content="\f09a";
	display:block;
}


/*회원가입modal*/
.gaeun-joinBox{
	position:relative;
	padding-bottom:20px;
	color:#767676;
}

.ge-labelName{
	font-size:14px;
	font-weight:400;
	margin-bottom:0;
}

.ge-joinBox{
	margin-top:11px;
}

.ge-inputName{
	width:100%;
	height:50px;
	padding-right:15px;
	padding-left:15px;
	border-radius:5px;
	border:1px solid #e1e2e3;
	background-color:#fff;
	font-size:15px;
	color:#333;
	appearance:none;
}

.ge-labelHp{
	font-size:14px;
	font-weight:400;
	margin-bottom:0;
}

.ge-inputHp{
	width:100%;
	height:50px;
	padding-right:15px;
	padding-left:15px;
	border-radius:5px;
	border:1px solid #e1e2e3;
	background-color:#fff;
	font-size:15px;
	color:#333;
	appearance:none;
}

.ge-labelPwd{
	font-size:14px;
	font-weight:400;
	margin-bottom:0;
}

.ge-inputPwd{
	width:100%;
	height:50px;
	padding-right:15px;
	padding-left:15px;
	border-radius:5px;
	border:1px solid #e1e2e3;
	background-color:#fff;
	font-size:15px;
	color:#333;
	appearance:none;
}

.ge-labelPwdOk{
	font-size:14px;
	font-weight:400;
	margin-bottom:0;
}

.ge-inputPwdOk{
	width:100%;
	height:50px;
	padding-right:15px;
	padding-left:15px;
	border-radius:5px;
	border:1px solid #e1e2e3;
	background-color:#fff;
	font-size:15px;
	color:#333;
	appearance:none;
}

.gaeun-agreeBox{
	height:initial;
	padding-bottom:12px;
	border-bottom:1px solid #ececec;
	margin-top:10px;
	margin-bottom:12px;
	color:#333;
	font-size:15px;
}
.gaeun-joinAgree{
	color:#ececec;
	position:relative;
}

.ge-chkAll{
	width:13px;
	height:13px;
	margin-right:10px;
	color:#ececec;
}

.agree1{
	color:#939393;
	flex:1;
	font-size:15px;
	display:inline-flex;
	align-items:baseline;
	width:100%;
}

.ge-agree1{
	width:13px;
	height:13px;
	margin-right:10px;
	color:#ececec;
}

.ge-agree1Con{
	color:#939393;
	font-size:15px;
	flex:1;
}

.ge-agree1Con >a{
	float:right;
	font-size:13px;
	line-height:26px;
	color:#767676 !important;
}

.registerBtn{
	margin-top:30px;
	width:100%;
	height:54px;
	border-radius:27px;
	background-color:#3366ff;
	font-size:16px;
	font-weight:600;
	color:#fff;
	border:0;
}

/*비번찾기/회원가입 모달 적용*/
.lostOrJoin {
	text-align:center;
	margin-bottom:16px;
}
.lostOrJoin >span >a{
	font-size:14px;
	color:#3366ff;
	font-weight:600;
}

.sendBtn{
	margin-top:8px;
	width:100%;
	height:54px;
	border-radius:27px;
	background-color:#3366ff;
	font-size:16px;
	font-weight:600;
	color:#fff;
	border:0;
}

.gaeun-modal-body-con2 >p{
	font-size:12px;
	line-height:18px;
	color:#999;
	margin-top:20px;
	text-align:center;
}

.reLogin{
	font-size:14px;
	line-height:18px;
	color:#999;
	margin-top:34px;
	text-align:center;
}

.reLogin >a{
	font-size:14px;
	color:#3366ff;
	font-weight:600;
}


/*로그인 후 메인*/
.mainTopSlider{
	height:300px;
	overflow:hidden;
	background:#f2f2f2;
}

.profile-matching-area{
	margin:80px auto;
	height:90px;
	display:block;
	position:relative;
	padding-right:30px;
	padding-left:30px;
	background:#258bf7;
	border-radius:3px;
}

.profile-matching-area >h3{
	display:flex;
	align-items:center;
	padding-right:225px;
	color:#fff;
	font-size:18px;
	font-weight: 400;
	top:50%;
	position:absolute;
	transform:translateY(-50%);
}

.matching-percent-box{
	display:inline-block;
	background-image:none;
	border-left-color:white;
	border-right-color:white;
	border-bottom-color:white;
	min-width:62px;
	height: 62xp;
	margin:0 20px 0 0;
	position:relative;
	vertical-align:middle;
	transform:rotate(-45deg);
	border:4px solid #0161d1;
	border-radius:100%;
}

.matching-percent{
	top:50%;
	left:50%;
	position:absolute;
	color:white;
	font-size: 16px;
	font-weight:500;
	transform:translate(-50%, -50%) rotate(45deg);
}

.matching-area-desc{
	display:inline-block;
	line-height:1.4;
}

.profile-matching-area >button{
	right:30px;
	color:#258bf7;
	font-size:15px;
	font-weight:600;
	padding:10px 40px;
	border-radius:3px;
	background-color:white;
	float:right;
	margin-top:22px;
}

.refer-box{
	margin:80px auto;
	position:relative;
}

.refer-box-title-wrap{
	position:relative;
	margin-bottom:20px;
}
.refer-box-title-div{
	margin-bottom:20px;
}

.refer-box-title{
	display:inline-block;
	padding:0;
	margin:0;
	font-size:22px;
	font-weight:600;
	letter-spacing:normal;
	text-align:left;
	color:#333;
}
.refer-box-title-icon{
	font-size:21px;
	color:#9d9d9d;
	margin-left:14px;
	position:relative;
	top:1px;
}

.icon-setting:before{
	content:"\e929";
}

.refer-innerBox{
	position:relative;
	margin: 0;
	padding:20px 80px;
	border-radius:3px;
	border:solid 1px #e0e0e0;
	overflow:hideen;
	height:90px;
}
.refer-innerBox:before{
	position:absolute;
	content:'';
	width:100%;
	height:100%;
	left:0;
	right:0;
	top:0;
	bottom:0;
	border-radius:3px;
	border-left:solid 5px #258bf7;
}

.network-icon-box{
	position:absolute;
	left:60px;
	padding-top:4px;
}

.network-icon-box img{
	margin:0;
	padding:0;
	background-repeat:no-repeat;
	background-position:center;
	width:100px;
	height:40px;
}

.refer-innerBox-con{
	position:absolute;
	left:200px;
	font-size:18px;
	color:#333;
	margin:0;
	padding-top:10px;
}

.connect-network{
	color:#258bf7;
	position:absolute;
	right:30px;
	display:inline-block;
	border-radius:3px;
	border:solid 1px #39f;
	padding:12px 40px;
	font-size:15px;
	font-weight:600;
}

.passPredic-box{
	margin:60px auto;
	position:relative;
}

.passPredic-title-div{
	position:relative;
	margin-bottom:20px;
}

.passPredic-title{
	display:inline-block;
	padding:0;
	margin:0;
	font-size:22px;
	font-weight:600;
	letter-spacing:normal;
	text-align:left;
	color:#333;
}
.passPredic-title-div >a{
	position:absolute;
	right:0;
	display:inline-block;
	padding:0;
	margin:0;
	font-size:20px;
	font-weight:400;
	color:#999;
}

.passPredic-pic-title{
	color:#333;
	font-size:18px;
	font-weight:600;
	text-align:left;
}

.ge-job-card-company-name{
	color:#333;
	font-weight:600;
	margin-top:4px;
	font-size:14px;
	line-height:1.6;
	text-align:left;
	white-space:nowrap;
	text-overflow:ellipsis;
}

.ge-job-card-company-location{
	font-weight:400;
	margin-top:6px;
	color:#999;
	font-size:14px;
	line-height:1.6;
	text-align:left;
	white-space:nowrap;
	text-overflow:ellipsis;
}

.ge-addressDot{
	margin:0 3px;
	top:-4px;
	position:relative;
}

.ge-reward{
	text-align:left;
	margin-top:6px;
	color:#666;
	font-size:13px;
	font-weight:400;
}






























