@charset "UTF-8";

button {
  height: 2.5em;
  cursor: pointer;
}


#popupB{
	color:gray;
	font-size:12px;
}

.popDiv .btn{
  border-radius: 0.3em;
  margin: 2px 2px;
  font-size: 11px;
  height:30px;
  background: #eef0f4;
  color: #000000;
  cursor: pointer;
}