@charset "UTF-8";


.form-group.mcuEditformgroup_jy {
    display: inline-block;
    width: 580px;
    /* color: gray; */
    /* background-color: gray; */
}

.staticlabel_jy.mcuEditstaticlabel_jy {
    display: inline-block;
    margin-right: 88px;
}

.staticlabel_jy.mcuEditstaticlabel_jy {
    margin-bottom: 16px;
}

select#exampleFormControlSelect1 {
    background: #80808012;
    border: none;
}

.jobarea_jy.mcuEditjabarea_jy {
}

select#exampleFormControlSelect2 {
    background: #80808012;
    border: none;
}

 button.navbar-toggler.mcuEdit-togglebt_jy.collapsed {
    border: 1px dashed #80808063;
    border-radius: 0;
    color: #808080b5;
    width: 40px;
    height: 40px;
    font-size: 17px;
    margin: 11px 0 28px 0;
}


button.navbar-toggler.mcuEdit-togglebt_jy {
    border: 1px dashed #80808063;
    border-radius: 0;
    color: #808080b5;
    width: 40px;
    height: 40px;
    font-size: 17px;
    display: inline-block;
}

div#navbarjikmu_jy {
    display: inline-block;
    width: 80%;
}

.mcuEditmoreInfo_jy {
    text-align: center;
}

button.navbar-toggler.mcuEdittogglebt2_jy {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    margin-left: 43%;
    font-size: 16px;
    font-weight: bold;
    color: #2188f3;
}

h6.formButton-label_jy.exceptconOption_jy.mcuEditskil_jy {
    margin-right: 82px;
}

button.btMachupEdit_jy {
    border: 1px solid #9e9e9e8c;
    color: white;
    background: #9e9e9e8c;
    width: 184px;
    height: 52px;
    border-radius: 3px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    float: right;
}


.machupMemEdit-btOk_jy {
    border: 1px solid #9e9e9e8c;
    color: white;
    background: #9e9e9e8c;
    width: 184px;
    height: 52px;
    border-radius: 3px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    margin: 0 auto;
    /* text-align: right; */
    margin-right: 4px;
}

button.btselect_jy.mcuEditbtSelect_jy1 {
    width: 640px;
}

button.btselect_jy.mcuEditbtSelect_jy {
    width: 640px;
}

i.icon-arrow_right.arrowIcon_jy {
    right: 49px;
}


.jikmubtInnerdiv_jy {
    /* overflow: hidden; */
    display: inline-block;
}

.jobarea_jy.mcuEditjabarea_jy {
    display: inline-block;
    /* overflow: hidden; */
    /* width: 100%; */
}

button.navbar-toggler.mcuEdit-togglebt_jy {
    /* position: relative; */
}

.jikmubtInnerdiv_jy {
}

.EnterInterestArea-fieldset_jy {
    overflow: hidden;
}

.jikmubtInnerdiv_jy {
    width: 580px;
}

label.btn.mcuEdit-jikgunbt_jy {
    display: inline-block;
}

.btn-group.btn-group-toggle.mcuEdit-btgruop_jy {
    display: inline-block;
}

.btn-group.btn-group-toggle.mcuEdit-btgruop_jy {}

label.btn.mcuEdit-jikgunbt_jy {
    border: 1px solid #8080802e;
}

label.btn.mcuEdit-jikgunbt_jy {
    color: #8080805c;
    background-color: #ececec0d;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: normal;
    margin-right: 8px;
    margin-bottom: 8px;
    padding: 10px 20px;
}

select#exampleFormControlSelect1>option {
    background-color: white;
}

select#exampleFormControlSelect2>option {
    background-color: white;
}


label.btn.mcuEdit-jikgunbt_jy {
    margin: 5px;
    padding: 8px 15px;
    color: #3b3d40;
    font-weight: 400;
    border: 1px solid #d1d1d1;
    border-radius: 0;
    background-color: #f8f8f8;
    opacity: 0.3;
}

label.btn.mcuEdit-jikgunbt_jy.active {
    opacity: 1;
    display: inline-block;
}
/* 02/05 */
button#btToggle {
    outline: none;
}

i.icon-arrow_right.arrowIcon_jy {
    right: 49px;
}

button.navbar-toggler.mcuEdit-togglebt_jy.collapsed {
    outline: none;
}

span.mcuEditplusbt_jy {
    outline: none;
}

button#btToggle {
    outline: none;
}

button.btselect_jy.mcuEditbtSelect_jy1 {
    outline: none;
}

button.btselect_jy.mcuEditbtSelect_jy {
    outline: none;
}

button.btMachupEdit_jy {
    outline: none;
}

/* 
label.btn.mcuEdit-jikgunbt_jy {
    color: black;
    background: #80808026;
    border: none;
} 

 */
/* 0206 */

input#salary {
    border: none;
    outline: none;
}

input#skill {
    border: none;
    outline: none;
}


button.navbar-toggler.mcuEdit-togglebt_jy {
    outline: none;
}

.modal-header.modalHeader_jy {
    padding: 9px 13px;
}

.modal-dialog.modalDialog_jy {
    margin: 0 auto;
    margin-top: 350px;
}

h5#modalLabel_jy {
    font-size: 15px;
    font-weight: 600;
    display: inline-block;
    text-align: center;
    margin-left: 176px;
}

span.closeIcon_jy {font-weight: lighter;}


.modalDivSelect1_jy {
    border: none;
}


.modalbodyinnderDiv_jy {
    padding: 18px;
}


select#selectPer {
    border: none;
    background: #9e9e9e17;
    width: 100%;
    height: 38px;
    margin-bottom: 15px;
}

.modal-dialog.modalDialog_jy {
    width: 430px;
}

select#selectPer {
    font-size: 13px;
    font-weight: 700;
    padding-left: 13px;
}

select#selectCurrency {
    border: none;
    background: #9e9e9e17;
    width: 100%;
    height: 38px;
    margin-bottom: 15px;
    font-size: 13px;
    font-weight: 700;
    padding-left: 13px;
}

input#salaryAmount_jy {
    border: none;
    outline: none;
}

.MosaldivInput_jy {border: 1px solid #9e9e9e17;}

input#salaryAmount_jy {
    display: inline-block;
    width: 89%;
    padding-left: 13px;
    font-size: 13px;
}

span#spCurecy {
    font-size: 14px;
    font-weight: normal;
    color: black;
}

button#btFinish_jy {
    width: 100%;
    border-radius: 4px;
}


.modalDivSelect1_jy>label {
    font-size: 13px;
}

input#skillsinput_jy {
    display: inline-block;
    width: 88%;
    border: none;
    outline: none;
}

.skillinputDiv {
    border: 1px solid #9e9e9e4d;
    border-radius: 4px;
}

input#skillsinput_jy {
    padding-left: 15px;
    font-size: 13px;
    /* color: #9e9e9e38; */
}

i.icon-search {
    border-left: 1px solid #80808033;
    padding-left: 9px;
}

.skillsLi {
    display: inline-block;
    margin-right: 10px;
    border: 1px solid #80808000;
    border-radius: 18px;
    background: #9e9e9e26;
    padding: 3px 20px;
    margin: 10px 5px;
    font-size: 13px;
    font-weight: lighter;
    color: black;
}

span.tags_jy {
    font-variation-settings: normal;
}

button#delTags {
    margin-left: 8px;
    color: #9e9e9eb0;
    font-size: 15px;
    background: #80808000;
}

select#career {
    background: #80808012;
    border: none;
}

div#spSalary_jy {
    display: inline-block;
}

button.btselect_jy.mcuEditbtSelect_jy1 {
    border: 0;
    width: 5%;
}

#spSalary_jy {
    width: 78%;
    border-bottom: 1px solid #9e9e9e40;
}


i.icon-arrow_right.\:before.arrowIcon_jy {position: initial;}

input#skill {
    width: 78%;
    font-size: 14px;
    border-bottom: 1px solid #9e9e9e40;
    padding-bottom: 0;
}

button.btselect_jy.mcuEditbtSelect_jy {
    border: 0;
    width: 5%;
}

#spSalary_jy {
    font-size: 14px;
    color: black;
    padding-bottom: 8px;
}


.machupMemEdit-btOk_jy {
    margin-top: 50px;
}

.machupMemEdit-btOk_jy.mcuRegisterdiv {
    position: fixed;
    border-top: 1px solid #9e9e9e52;
    width: 100%;
    display: inline-block;
    right: 0;
    bottom: 0px;
    background: white;
    height: 73px;
}

button.btMachupEdit_jy.mcuRegisterbt {
    background: #2189f3f0;
    position: relative;
    display: inline-block;
    bottom: -11px;
    left: -59px;
}

.col-lg-9.col-md-6.machupWrapperdiv_jy {
    margin-bottom: 50px;
}

input#salary {
    width: 78%;
    font-size: 14px;
    border-bottom: 1px solid #9e9e9e40;
    padding-bottom: 0;
}

 .col-lg-9.col-md-6.machupWrapperdiv_jy.paddingTop_jy{
    padding-top: 40px;
} 