@charset "UTF-8";

i.icon-joblist_bottombar_cv.icon_jy {
    font-size: 15px;
    color: gray;
}

i.icon-more_vert.icon_jy {
    font-size: 22px;
    color: gray;
}

.resumeListTitle1_jy {
    display: inline-block;
    float: left;
}

.resumeListTitle2_jy {
    display: inline-block;
    float: right;
}

span.resume-icon.writing.RWlang_jy {
    border: 1px solid #9E9E9E;
    font-size: 14px;
}

.icon-new_resume.NewResumeIcon_jy {
    font-size: 24px;
    color: white;
    background: #258bf7;
    text-: 0 0 black;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
}

span.blueBox_jy {
    border: 1px solid #258bf7;
    width: 70px;
    height: 70px;
    display: inline-block;
    border-radius: 50%;
    background: #258bf7;
    margin-bottom: 23px;
    margin: 23 10;
}


span.grayBox_jy {
    border: 1px solid #e1e2e3;
    width: 70px;
    height: 70px;
    display: inline-block;
    border-radius: 50%;
    background: #e1e2e3;
  margin-bottom: 23px;
    margin: 23 10;
}

i.icon-upload_resume.UpResumeIcon_jy {
    font-size: 24px;
    color: #666;
    text-: 0 0 black;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
}

.resumeB_jy {display: -webkit-inline-box;width: 100%;}

.RWSection_jy {
    background: #9e9e9e1f;
    margin: 0 auto;
    height: 800px;
}

.RWTop-Wrapper_jy {
    margin-bottom: 20px;
}

.block_jy {
    background: white;
    border: 1px solid #8080807d;
    padding: 35;
    height: 200;
}

.container.RWcontainer_jy {
    margin: 0 380px;
}


span.resumeTitle_jy {
    width: 107px;
    display: inline-block;
}

.resumT_jy {
   /*  display: inline-block; */
    text-align: left;
    height: 80%;
}


.resumeB_jy {
    text-align: left;
}

span.RWName>h3 {
    font-size: 17;
    font-weight: bold;
    text-decoration-color: #9E9E9E;
    color: #3a3232;
}

span.RWRegdate>p {
    font-size: 15px;
    color: gray;
    font-weight: bold;
}

span.RWMachupFlag>p {
    font-size: 15px;
    color: #258bf7;
    font-weight: bold;
}

.contact-block.mb-4.mb-lg-0.block_jy {

    padding-top: 20 0;
}

.nav-link.dropdown-toggle.dropdowntoggle_jy {
    padding: 0;
    display: inline-block;
    float: right;
}

.nav-item.dropdown.RWdropdown_jy {
/* margin-left: 50; */display: inline-block;text-align: right;float: right;}

span.blueBox_jy {
    margin: 10px 30px;
}

.contact-block.mb-4.mb-lg-0.block_jy {
    height: 200px;
}

.nav-item.dropdown.RWdropdown_jy {
    padding: 2px;
    text-align: right;
    float: right;
    display: inline-block;
}

span.grayBox_jy {
    margin: 10px 30px;
}

.icon-joblist_bottombar_cv.icon_jy {
    margin-bottom: 0;
}

i.icon-joblist_bottombar_cv.icon_jy>span {
    display: inline-block;
    float: left;
}

.RWTop-Wrapper_jy {
    box-sizing: border-box;
    position: relative;
}

.RWTop-Wrapper_jy {overflow: hidden;}

span.sp-rwtop_jy {
    font-size: 15px;
    font-weight: bolder;
    color: black;
}

button.bt-rwtop_jy {
    font-size: 15px;
    font-weight: bolder;
    color: #0a86e8;
    text-align: right;
    /* display: inline-block; */
}

.resumeListTitle1_jy {
    width: 100%;
}

button.bt-rwtop_jy {
    line-height: 1.4;
    word-wrap: break-word;
    color: #258BF7;
    /* font-size: 16px; */
    font-weight: 600;
    position: absolute;
    margin: 0;
    top: 17.5%;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.contact-block.mb-4.mb-lg-0.block_jy {
    padding: 0;
    margin: 0 auto;
}


.resumT_jy {
    margin-top: 23px;
    margin-bottom: 43px;
}

.resumeB_jy {
    position: relative;
    display: inline-table;
}


i.icon-joblist_bottombar_cv.icon_jy {
    margin-left: 20px;
    vertical-align: center;
}

.RWLink_jy {
    margin-top: 67px;
}

button.bt-rwtop_jy {
    top: 28.5%;
    outline:none;
}


span.blueBox_jy {
    margin-top: 34px;
}

span.grayBox_jy {
    margin-top: 34px;
}


span.resumeTitle_jy>h3 {
    font-size: 15px;
    font-weight: bold;
}


ul.dropdown-menu.dropdownMenu_jy {
    border-top: 1px solid gray;
    font-size: 14px;
    min-width: 200px;
}

span.blueBox_jy {margin: 34px 50px 10px;}

span.grayBox_jy {
    margin: 34px 50px 10px;
}

/* 210130 */

.container.RWcontainer_jy {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 1060px;
}

.resumeListTitle1_jy {
    position: relative;
    margin-top: 25px;
    margin-bottom: 5px;
}

.row.RWRow_jy {
    max-height: inherit;
    overflow-y: inherit;
    height: inherit;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    width: calc(100% + 20px);
}

.row.RWRow_jy {
    margin-left: -20px;
    margin-right: -20px;
    width: calc(100% + 40px);
}

.col-lg-3.col-sm-4.col-md-4 {
    position: relative;
    /* margin-left: 10px; */
    margin-bottom: 10px;
    float: left;
    width: calc(50% - 15px); 
}

input.nameEdit_jy {
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 600;
    color: #9e9e9e;
    height: inherit;
}


span.RWRegdate>p {
    color: #9e9e9e;
    font-weight: 100;
    font-size: 16px;
    margin-left: 4px;
}

.RWTop-Wrapper_jy {
    position: relative;
    margin-top: 25px;
    margin-bottom: 5px;
}


section.section.contact-info.pb-0.RWSection_jy {
    height: fit-content;
}


.contact-block.mb-4.mb-lg-0.block_jy {
    text-align: center;
    justify-content: center;
    vertical-align: middle;
}

.resumeB_jy {
    border-top: 1px solid #8080803b;
    vertical-align: middle;
    padding-top: 6px;
}

.resumT_jy {
    height: 47%;
}

.resumeB_jy span {
    margin-left: 5px;
}

span.resume-icon.writing.RWlang_jy {
    border-radius: 2px;
    text-align: center;
    padding: 0px 3px;
    /* padding-right: 0; */
    display: inline-block;
    font-weight: 600;
    margin-left: 18px;
}
.resumT_jy {
    padding-left: 16px;
}

input#resumeTitleEdit_jy:focus {
    outline: none;

}

input#resumeTitleEdit_jy {
    background: #ffffff00;
}

input#upfile {
    display: none;
}

.contact-block.mb-4.mb-lg-0.block_jy {
}

button.RWLink_jy {
    /* padding-bottom: 59px; */
    margin-top: 10px;
}

input#resumeTitleEdit_jy {
    width: 97%;
    display: inline-block;

}


/* 210131 */

span.rFileName_jy {
    font-size: 17px;
    font-weight: bold;
    line-height: 1.33;
    max-height: 58px;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
    overflow: hidden;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    width: 97%;
}


i.icon-joblist_bottombar_cv.\:before.icon_jy {
    border-radius: 2px;
    text-align: center;
    padding: 0px 3px;
    padding-right: 0;
    display: inline-block;
    /* font-weight: bold; */
    margin-left: 18px;
    font-size: 17px;
}

section.section.contact-info.pb-0.RWSection_jy {
    padding: 1px 0;
    
}

.container.RWcontainer_jy {
    padding-bottom: 55px;
}

    /* 할수있다. */
    
 ul.dropdown-menu.dropdownMenu_jy {
    top: 65%;
    border-radius: 0;
    border: 1px solid #d2d2d2;
    -webkit-box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
    box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
}



ul.dropdown-menu.dropdownMenu_jy>li {
    display: list-item;
    text-align: -webkit-match-parent;
}

/* ul.dropdown-menu.dropdownMenu_jy:focus {
    opacity: 1;
    visibility: visible;
}
 */
ul.dropdown-menu.dropdownMenu_jy {
    position: relative;
}

i.icon-more_vert.\:before.icon_jy {
    position: absolute;
    float: left;
    top: -23px;
    right: 3px;
}

span.resume-icon.writing.RWlang_jy {
    margin-left: 5px;
}

i.icon-joblist_bottombar_cv.\:before.icon_jy {
    margin-left: 5px;
}


/* 0201  */
input#resumeTitleEdit_jy:focus {
    border: none;
    outline: none;
}

i.icon-more_vert.icon_jy {
    position: absolute;
    float: left;
    top: -23px;
    right: 3px;
     pointer-events: none;
}

span.noResume_jy {
    font-size: 19px;
    font-weight: 600;
    margin-top: 82px;
    display: inline-block;
    color: gray;
}
/* 0208 */

button.RWLink_jy {
    outline: none;
    border: none;
}

button.RWLink_jy:focus {
    outline: none;
    border: none;
}