h2, th, td, label, span, p, button {
	color: #444444;
}

h2{
	font-weight: bold;
	font-size: 1.4em;
	margin:30px 0px 20px 0px;
	
}
.weneed-adminTable{
	width: 100%;
}
.weneed-adminTable > thead th,
.weneed-adminTable > tbody td{
	border: 1px solid #e1e2e3;
	border-collapse: collapse;
	padding: 5px 10px;
	background: #fff;
	font-size: 0.8em;
}

.weneed-adminTable > th,
.weneed-adminTable > td{
	text-align: center;
}

.weneed-adminBtnDiv{
	text-align: right;
	margin-bottom: 20px;
}
.weneed-adminBtn{
	padding: 5px 10px;
	font-size: 0.8em;
	border: 1px solid #e1e2e3;
	background-color: #fff;
	border-radius: 5px;
}

.divPage > a, span {
	font-size: 0.9em;
}

.divPage{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#weneedAdmin-comInfoBeforeSec,
#weneedAdmin-comInfoPassedSec,
.weneedAdmin-comImgPermissionSec{
	margin-bottom: 20px;	
}

.clickedTab{
	font-weight: bold;
}

.hide{
	display: none;
}

.weneedAdmin-comPermiSubtitle{
	display: block;
	font-weight: bold;
	margin-bottom: 10px;
}

