span, label, div, h4{
	color: #454547;
}
.tabSection{
	margin: 30px 0px;	
}

.infoSection{
	margin-bottom: 130px;
}

.comInfoRegiTab{
	font-size: 0.8em;
	font-weight: bold;
	border: 1px solid #e1e2e3;
	padding: 10px 15px;
	border-radius: 30px;
	margin-right: 10px;
}

.comInfoRegiTab:hover{
	cursor: pointer;
}

.selectedTab{
	background: #e1e2e3;
	color: black;
}

#tabImg, #tabInfo,
#posTab-showAll, #posTab-developer{
	display: none;
}

.comServTitle{
	font-size: 1.6em;
	font-weight: bold;
	padding-bottom: 20px;
}

.comServTitle-imageCountGuide{
	font-size: 0.8em;
	color: 
}


/* 이미지 등록 박스 */
.posBoxWrapper,
.imgBoxWrapper{
	display: flex;
	margin-bottom: 30px;
	flex-flow: wrap;
}

.imgBox{
	border: 1px solid #e1e2e3;
	width: 225px;
	margin: 0 20px 20px 0;
}

.imgBox{
	height: 170px;
	padding: 5px;
}

.posBox:hover,
.imgBox:hover{
	cursor: pointer;
}

.imgPlusBox{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.imgPlusBtn{
	width: 50px;
	height: 50px;
	text-align: center;
}

.sizeInfoSpan{
	font-size: 0.8em;
}

.hide{
	display:none; 
}

.comServModiSumbitWrapper{
	display: flex;
	align-items: right;
}


.comServModiSumbitWrapper{
	position: relative;
}

.btnComServModiSubmit{
	position: absolute;
	right: 0;
	margin-bottom: 30px;
}

/* 채용포지션 목록 */

.posBoxWrapper{
	display: flex;
	margin-bottom: 30px;
	flex-flow: wrap;
}

.posBoxWrapper2{
	border: 1px solid #e1e2e3;
	width: 225px;
}

.posBox{
	padding: 5px;
}

.posJikMu{
	font-weight: bold;
}

.posDueDate{
	font-size: 0.8em;
	font-weight: 
}
.posDueDateDiv{
	border-top:1px solid #e1e2e3;
	padding: 5px;
	width: 100%;
}

.posDueDateLink{
	font-size: 0.8em;
}

.posSectionTemp{
	color: #808080;
}