p, span, h5, h1, h2, a, button, i, li, label{
	color: #444444;
}

/******* 매치업 메인 *******/

/* 첫번째 섹션*/
.matchupMain-1stSec{
	display: block;
	padding: 100px 300px;
	align-items: center;
	justify-content: center;
	text-align: center;
}
h1{
	font-size: 2.4em;
	font-weight: lighter;
	color: white;
	margin-bottom: 20px;
}

.matchupMainH2-white{
	font-size: 1.4em;
	color: white;
	margin-bottom: 40px;
	font-weight: lighter;
	
}

.matchupMain-btn-gotoSearchPage{
	color: black;
	background: white;
	padding: 15px 20px;
	border-radius: 30px;
	font-size: 0.8em;
	font-weight: bold;
}

.matchupMain-btn-gotoSearchPage:hover{
	color: black;
}

.matchupMain-2ndSec{
	background-color: #f4f4f4;
	padding: 100px 250px;
	text-align: center;
	
}

.matchupMainH2-dark{
	font-size: 1.8em;
	color: #444444;
	margin-bottom: 40px;
	font-weight: bold;
}

.matchupMain-3parts-wrapper{
	display: flex;
	justify-content: space-between;
}

.matchupMain-3parts{
	align-items: center;
	background: #ffffff;
	align-items: center;
	text-align: center;
	justify-content: center;
}

.matchupMain-3parts-one{
	width: 31%;
	padding: 20px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.matchupMain-3parts-title{
	font-weight: bold;
	font-size: 1.4em;
	margin: 20px 0px;
}

.matchupMain-3parts-contents{
	font-size: 0.8em;
	color: #444444;
}

.matchup-productIntro-wrapper{
	padding: 100px 200px;
	background-color: #7072f6;
	text-align: center;
}

.matchup-productIntro-wrapper>h1{
	font-weight: bold;
	margin-bottom: 20px;
}

.matchup-productIntro-3items{
	display: flex;
	justify-content: center;
	align-items: center;
}

.matchup-productIntro-item{
	background-color: #ffffff;
	width:30%;
	padding: 20px 20px 40px 20px;
	
	align-items: center;
	justify-content: center;
	text-align: center;
}

.matchup-productIntro-item > h2{
	font-size: 1.6em;
	font-weight: bold;
	margin-bottom: 10px;
}

.matchup-productIntro-item-price:first-child,
.matchup-productIntro-item-title:first-child{
	color:#728beb;
}
.matchup-productIntro-item > span{
	display: block;
	
}
.matchup-extraFee{
	font-size: 0.8em;
}

.matchup-posCnt{
	font-weight: bold;
}

.matchup-fakespan{
	align-items: center;
	text-align: center;
	width: 30px;
	border-bottom: 3px solid #7072f6;
	display: inline-block;
	right: 50%;
	
}

.matupChooseBtn{
	background-color: #5764f2;
	padding: 15px 30px;
	border-radius: 30px;
	color: #ffffff;
	font-weight: bold;
}

.matchup-Strong-text{
	font-weight: bold;
	margin-bottom: 30px;
}
.matupChooseBtn:hover {
	color: white;
}

.matchup-Strong-text1,
.matchup-productIntro-item-title1,
.matchup-productIntro-item-price1{
	color: #728beb;
}

.matchup-Strong-text2,
.matchup-productIntro-item-title2,
.matchup-productIntro-item-price2{
	color: #5764f2;
}

.matchup-Strong-text3,
.matchup-productIntro-item-title3,
.matchup-productIntro-item-price3{
	color: #855af0;
}

.matupChooseBtn1{
	background-color: #728beb;
}
.matupChooseBtn2{
	background-color: #5764f2;
}
.matupChooseBtn3{
	background-color: #855af0;
}

.matupChooseBtn:visited{
	color: #ffffff;
}






/******* 매치업 검색 *******/

.hide{
	display: none;
}

.matchupSearch-1stSec{
	margin: 30px 0px 0px 0px;
}

.matchupSearch-1stSec > h1{
	font-size: 1.6em;
	font-weight: bold;
	color: black;
}

.matchupSearch-select{
	height: 45px;
	padding: 10px 10px;
	font-size: 0.8em;
	font-weight: bold;
	margin-right: 20px;
}

.matchupSearch-selectShort{
	width: 25%;
}
.matchupSearch-selectLong{
	width: 50%;
	margin-bottom: 20px;
}

.matchupSearch-searchInput{
	height: 30px;
	border-radius: 30px;
	border: 1px solid #e1e2e3;
	font-weight: bold;
	font-size: 0.8em;
	padding: 10px 30px;
	width: 100%;
	background-color: #f3f5f8;
}

.matchupSearch-searchFilter{
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid #e1e2e3;
	padding: 20px 0px 20px 0px;
}

.matchupSearch-select-sub{
	border: none;
	margin-right: 10px;
}

.matchupSearch-searchDiv{
	position: relative;
	width: 50%;
}

.matchupSearch-searchBtn{
	position: absolute;
	right: 20px;
	bottom: 10px;
}

.matchupSearch-rangeSlider{
	display: flex;
	position: relative;
}

.matchupSearch-rangeSliderLabel{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.matchupSearch-label{
	font-size: 0.8em;
	font-weight: bold;
	margin: 0 auto;
	margin-right: 10px;
}

#slider-range{
	width: 50%;
	position: absolute;
	bottom: 13px;
	right: 0;
}

#amount{
	color: #258bf7;
}
.matchupSearch-tabBound{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.matchupSearch-resultList{
	width: 100%;
	display: flex;
	justify-content: space-between;
	text-align: center;
}
.matchupSearch-li{
	font-size: 0.8em;
	font-weight: bold;
	color: #9d9d9d;
	cursor: pointer;
	width: 20%;
	padding: 20px 0px;
	border-left: 1px solid #e1e2e3;
	border-top: 1px solid #e1e2e3;
	border-bottom: 1px solid #e1e2e3;
}
.matchupSearch-li > a:hover{
	color: #9d9d9d;
}
.matchupSearch-li:last-child{
	border-right: 1px solid #e1e2e3;
}

.matchupSearch-selectedLi{
	color: #444444;
	border-top: 2px solid #444444;
}

.matchupSearch-resultOrderFilters{
	text-align: right;
	padding: 10px 0px;
	border-bottom: 1px solid #e1e2e3;
	align-items: center;
}

.matchupSearch-orderFilterLb{
	font-size: 0.8em;
	font-weight: bold;
	margin-right: 10px;
}

.matchupSearch-resumeBound{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 10px 0px 10px;
	border-bottom: 1px solid #e1e2e3;
}

.matchupSearch-resume-1st > span,
.matchupSearch-resume-2nd > span,
.matchupSearch-resume-3rd > button{
	display: block;
}
.matchupSearch-resume-1st {
	align-items: center;
	font-size: 0.8em;
	width: 70px;
	text-align: center;
	margin-right: 10px;
}
.matchupSearch-resume-2nd{
	font-weight: bold;
	margin-bottom: 10px;
	width: 80%;
}
.matchupSearch-resume-2nd > span{
	margin-bottom: 10px;
}
.matchupSearch-resume-3rd{

}
.matchupSearch-resume-3rd > button{
	height: 40px;
	width: 130px;
	padding: 10px 10px;	
	border-radius: 40px;
	border: 1px solid #e1e2e3;
	font-size: 0.8em;
	font-weight: bold;
	margin-bottom: 10px;
}

.goldStar{
	color: gold;
}

.matchupSearch-resume-paging{
	display: flex;
	align-items: center;
	justify-content: center;
}

.matchupSearch-pagingDiv{
	border-radius: 3px;
	background-color: #5c85ff;
	color: white;
	padding: 10px 80px;
	margin: 20px;
	font-size: 0.8em;
	cursor: pointer;
	font-weight: bold;
}

.matchupSearch-pagingDiv_prev,
.matchupSearch-pagingDiv_next,
.matchupSearch-pagingDiv-page{
	cursor: pointer;
}

.matchupSearch-pagingDiv-page{
	text-align: center;
}

.matchupSearch-pagingDiv-curPage{
	font-weight: bold;
	border: 1px solid #444444;
	
}


/* 매치업 현황 표시판 */
.matchupNoticeCon{
	background: black;
	border-top: 1px solid #e1e2e3;
}

.matchupNoticeWrapper{
	display: flex;
	justify-content: space-between;
	padding: 10px;
}
.matchupNoticeTitle{
	font-weight: bold;
	font-size: 1.2em;
	color: #5c85ff;
	display: block;
}

.matchupNoticeTitle > i {
	color: #5c85ff;
}

.matchupNoticeBtnWrapper{
	display: flex;
	align-items: center;
}

.matchupServiceBuyBtn{
	color: white;
	border: 1px solid #e1e2e3;
	border-radius: 5px;
	padding: 10px 15px;
}

.matchupNoticeText{
	color: #e1e2e3;
	font-size: 0.8em;
}

#matchupUseorNotSpan{
	font-weight: bold;
}

#matchupViewCountSpan1{
	color: #808080;
}