@CHARSET "UTF-8";
h2{
	font-size:1.3em;
	font-weight:bold;
	margin:7px 2px 15px 2px;
	padding:7px 0  
}

h3{
	font-size:1.2em;
	font-weight:bold;
	margin:5px 2px 5px 2px;
	padding:5px 0
}
/* body{
	padding:5px;
	margin:5px;
 }*/



