@charset "UTF-8";

section.profileEditSection_jy {
    border: 1px solid #80808040;
    border-radius: 4px;
    background: white;
    margin-left: 20px;
}


input#inputName {
    border: none;
    outline: none;
    border-bottom: 1px solid #9e9e9e4a;
    width: 80%;
}


label.lbName {
    display: inline-block;
    width: 100%;
}

.lbName>h6 {
    display: inline-block;
    margin: 30px 0;
    font-size: 15px;
    color: #9e9e9e;
    margin-right: 50px;
    width: 47px;
}

header.formHeader_jy {
    margin-left: 28px;
    /* color: gray; */
}

.formTitle_jy>dt {
    color: #505050;:;
    font-size: large;
}

.formTitle_jy>dd {color: #9e9e9e;}


input#inputEmail {
    border: none;
    outline: none;
    border-bottom: 1px solid #9e9e9e4a;
    width: 80%;
}

input#inputHp {
    border: none;
    outline: none;
    border-bottom: 1px solid #9e9e9e4a;
    width: 80%;
}

button#profileEdit {
    border: 1px solid #217ff3;
    border-radius: 4px;
    width: 180px;
    height: 49px;
    background: #217ff3;
    color: white;
    font-weight: 600;
}

footer.formfooter {
    text-align: end;
    margin-right: 57px;
    /* display: inline-block; */
    /* right: 1px; */
    margin-top: 53px;
}



.formblok_jy {
    margin-top: 47px;
}


a.basicInfoLink>span {
    color: #217bf3;
    font-weight: 600;
}

input#upfile {
    display: none;
}

img.img_member_jy {
    width: 85px;
    height: 85px;
    border-radius: 70%;
}

/* 0218 */
img.img_member_jy {
    width: 85px;
    height: 85px;
    border-radius: 70%;
}

i.icon-camera_icon.camerai_jy {
    margin: 0;
    margin-left: 68%;

}
 input.inputimg_jy {
    display: none;
} 
/* 0218 */
span#email_error {
    /* width: 50%; */
    color: red;
    font-weight: 600;
}

input#inputEmail {
    border: none;
}

input#inputName {
    border: none;
    width: 50%;
}

span#name_error {color: red;font-weight: 600;}

input#inputHp {border: none;}

span#hp_error {
    color: red;
    font-weight: 600;
}

span.wrapInput {
    border-bottom: 1px solid #9e9e9ea1;
    display: inline-block;
    width: 80%;
}

input#inputEmail {
    width: auto;
}

input#inputHp {
    width: auto;
}

span#email_error {
    font-size: 13px;
}


span#hp_error {
    font-size: 13px;
}

input#inputName {
    width: auto;
}

span#name_error {
    font-size: 13px;
}
